web:
    port: 8888
    websocket_host: 'localhost:8888'
    cookie_secret: 'dis is super sekrit'

oauth:
    client_id: null
    client_secret: null
    redirect_uri: 'http://127.0.0.1/oauth'
    authorize_url: 'http://example.com/authorize'
    access_token_url: 'http://example.com/token'
    auth_user_url: 'http://example.com/api/v1/auth_user?access_token='

db:
    host: localhost
    user: pyhole
    password: pyhole
    database: pyhole

# vim: set et ft=yaml:
